.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-radius: 5px;
  z-index: 999;
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menuList li {
  margin: 0;
}

.menuList a {
  color: var(--color-background);
  text-decoration: none;
  font-weight: bold;
}

.menuList a:hover {
  text-decoration: underline;
}
